body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: #a9dd25;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 2em;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

form button {
  background-color: #dd2562;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #b520bd;
}

a {
  color: #2f93ba;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e0e0e0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.message.success {
  background-color: #dff0d8;
  color: #96bd97;
  border: 1px solid #d6e9c6;
}

.message.danger {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}
